@media screen and (min-width: 550px) {
 
header {
  padding-top: 1px;
}

#features li {
  width: 33%;
}

#features li {
  width: 48.4%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-bottom: 10px;
}

#features li h2, #features li h1 {
  text-align: left;
}

#features li img {
  float: none;
}

#features li:nth-child(2n+1) {
  clear:left;
}
  

#footer-grid > .col {
  width: 38%;
  margin-left: 35px;
}

#footer-grid > .col:nth-child(3n) {
  clear: left;
}

}



@media screen and (min-width: 700px) {
 
h1 {
  font-size: 1.9em;
}

h2 {
  margin-bottom: 20px;
}

#workflow {
  width: 60%;
  height: 400px;
  text-align: left;
  padding-left: 40px;
}

#workflowImage {
  width: 40%;
  height: 400px;
  margin: 0;
  display: inline-block;
  background-image: url("../img/desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}
  
blockquote p {
  font-size: 2em; 
}

#features h1 {
  font-size: 1.4em;
}

#feature-grid li img {
  width: 75px;
}

#features li {
  width: 33%;
}


#features li:nth-child(2n+1) {
  clear:none;
}

#features li:nth-child(3n+1) {
  clear: both;
}


#footer-grid > .col:nth-child(3n) {
  clear: left;
}


.slicknav_menu {
  display:none;
}

#intro {
  font-size: 0.9em;
  height: 260px;
  padding-top: 40px;
}

#menu {
  display: inline-block;
}

nav  {
    display:inline-block;
}

nav {
  background: none;
  float: right;
  font-size: 1.25em;
  margin-right: 5%;
  text-align: right;
  width: 75%;
}

#logo {
  float: left;
  margin-left: 5%;
  text-align: center;
  width: 45%;
  max-width: 75px;
  padding-top: 5px;
  padding-bottom: 15px;
}

#logo img {
  max-width: 160px;
}

#logo li {
  display: inline-block;
}

#coverpic {
  height: 400px;
  padding-top: 135px;
  padding-bottom: 35px;
  margin-top: 85px;
}

#footer-grid > .col {
  max-width: 20%;
  padding-left: 0px;

}

#footer-grid > .col:nth-child(3n) {
  clear: none;
}

#contact a  {
  float: left;
  margin-left: 40px;
}

footer p {
  float: right;
  margin-right: 40px
}
  
}
    
